<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="webdevConnectionString" connectionString="Data Source=caroshaw.com;Initial Catalog=sensenbrenner;User ID=shawcaro;Password=ca5150"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <siteMap defaultProvider="AspNetXmlSiteMapProvider">
      <providers>
        <add name="cmscs" siteMapFile="cmscs.sitemap" type="System.Web.XmlSiteMapProvider"/>
        <add name="visitingmenu" siteMapFile="visiting.sitemap" type="System.Web.XmlSiteMapProvider"/>
        <add name="programsmenu" siteMapFile="programs.sitemap" type="System.Web.XmlSiteMapProvider"/>
          </providers>
    </siteMap>
    <pages theme="CMS"/>
  </system.web>
</configuration>